<div class="example-container mat-elevation-z8">
    <div class="mat-title" style="padding-top:10px;padding-left:10px">
        Personal Stats
    </div>

    <div style="padding-top:10px;padding-left:10px;display:inline">
        <mat-form-field>
            <mat-select placeholder="Stat" [(value)]="selectedStat" (selectionChange)="statChanged()">
                <mat-option *ngFor="let s of stats" [value]="s">
                    {{ s }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <app-shared-table [data]="dataPersonalStats" [translateFields]="translatedColumns" [defaultSort]="defaultSort" [displayedColumns]="displayedColumns"></app-shared-table>
</div>