<div>
  <mat-card style="max-width: 400px">
    <mat-card-header>

      <mat-card-title>
        <img [src]="clanInfo?.emblems.x64.wot" style="height:32px;width:32px">
        <span>{{clanInfo?.tag}} {{clanInfo?.name}}</span>
      </mat-card-title>
      <mat-card-subtitle>
        since {{ clanInfo?.created_at * 1000 | date}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Kommandant: {{clanInfo?.leader_name}}
      </p>
      <p>
        {{clanInfo?.description}}
      </p>
      <p>
        {{clanInfo?.motto}}
      </p>

    </mat-card-content>
  </mat-card>

  <mat-card style="max-width: 400px">
    <mat-card-header>
      <mat-card-title>
        Ratings:
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list dense>
        <mat-list-item *ngFor="let r of clanRatings">
          <span class="mat-title">{{r.name}}</span>
          <span class="mat-body-1">{{r.rank}}</span>
          <span>{{r.rank_delta}}</span>
          <span>{{r.value}}</span>

        </mat-list-item>
      </mat-list>
    </mat-card-content>

  </mat-card>
</div>